<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathstarter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathStarter">
        <activity
            android:name=".displayList"
            android:exported="false" />
        <activity
            android:name=".random_practice"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Division_tutorial"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Multiplication"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".subtraction_tutorial"
            android:exported="true"
            android:label="@string/title_activity_subtraction_tutorial"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".addition_tutorial"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>